<div class="container">
    <section id="page-name">
            <img id="main-image" src="https://media.istockphoto.com/photos/double-cheese-and-bacon-cheeseburger-picture-id511484502?k=6&m=511484502&s=612x612&w=0&h=2d8oTGH_E7KHkd4TIdftWIxjLsBP3CfdF44zy65FD0o=" width="480" height="326" frameBorder="0" class="giphy-embed" allowFullScreen></img>
            <h1>Eat-Da-Buger</h1>
    </section>

    <section class="row">
        <div class="col-md-7 col-left">
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            {{#each burgers}}
                {{#if devoured}}
                    <div>{{id}}. {{burger_name}}</div>
                {{/if}}
            {{/each}}        
        </div>          
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="What do you want to eat?"></textarea>
        </div>
        <button type="submit">Add Burger</button>
    </form>     
</div>